resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: manager
  newName: mcr.microsoft.com/oss/azure/workload-identity/webhook
  newTag: v1.5.1
configMapGenerator:
- literals:
  - AZURE_TENANT_ID="${AZURE_TENANT_ID}"
  - AZURE_ENVIRONMENT="${AZURE_ENVIRONMENT:-AzurePublicCloud}"
  name: config
generatorOptions:
  disableNameSuffixHash: true
